DICTIONARY
- how to declare it
- how to acess key and values of a dictionary
- how to use loops in dictionary

In [1]:
student={
    "name":"Saniya",
    "class":"12th",
    "age":17
}
print(student)

{'name': 'Saniya', 'class': '12th', 'age': 17}

In [2]:
info=dict(name='Riya',age=27,salary='30000')
print(info)

{'name': 'Riya', 'age': 27, 'salary': '30000'}

In [3]:
info2=dict(name=input("Enter name"),age=int(input("Enter age")))
print(info2)

{'name': 'John', 'age': 17}

In [4]:
print(info2)

{'name': 'John', 'age': 17}

In [5]:
#1st method
print(student['name'])
print(student['age'])

Saniya
17

In [6]:
#2nd method
print(student.get('name'))
print(student.get('age'))

Saniya
17

In [7]:
#to add items in a dictionary
student['school']='DPS'
student['city']='Lucknow'
print(student)

{'name': 'Saniya', 'class': '12th', 'age': 17, 'school': 'DPS', 'city': 'Lucknow'}

In [8]:
for x in student:
    print(x)

name
class
age
school
city

In [9]:
for k,v in student.items():
    print(f'{k} : {v}')

name : Saniya
class : 12th
age : 17
school : DPS
city : Lucknow

In [10]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'class', 'age', 'school', 'city'])
dict_values(['Saniya', '12th', 17, 'DPS', 'Lucknow'])
dict_items([('name', 'Saniya'), ('class', '12th'), ('age', 17), ('school', 'DPS'), ('city', 'Lucknow')])

In [11]:
company={
    'emp001': {
        'name':'John',
        'age': 27,
        'dept':'HR',
        'Salary':30000  
    },
    'emp002':{
        'name':'Riya',
        'age': 25,
        'dept':'IT',
        'Salary':35000
    },
    'emp003':{
        'name':'Mike',
        'age': 23,
        'dept':'Finance',
        'Salary':40000
    }
}
print(company)

{'emp001': {'name': 'John', 'age': 27, 'dept': 'HR', 'Salary': 30000}, 'emp002': {'name': 'Riya', 'age': 25, 'dept': 'IT', 'Salary': 35000}, 'emp003': {'name': 'Mike', 'age': 23, 'dept': 'Finance', 'Salary': 40000}}

In [12]:
from pprint import pp

In [13]:
pp(company)

{'emp001': {'name': 'John', 'age': 27, 'dept': 'HR', 'Salary': 30000},
 'emp002': {'name': 'Riya', 'age': 25, 'dept': 'IT', 'Salary': 35000},
 'emp003': {'name': 'Mike', 'age': 23, 'dept': 'Finance', 'Salary': 40000}}

In [14]:
print(company['emp001']['dept'])

HR

In [15]:
company['emp004']={
        'name':'Sam',
        'age': 34,
        'dept':'Admin',
        'Salary':25000
}
pp(company)

{'emp001': {'name': 'John', 'age': 27, 'dept': 'HR', 'Salary': 30000},
 'emp002': {'name': 'Riya', 'age': 25, 'dept': 'IT', 'Salary': 35000},
 'emp003': {'name': 'Mike', 'age': 23, 'dept': 'Finance', 'Salary': 40000},
 'emp004': {'name': 'Sam', 'age': 34, 'dept': 'Admin', 'Salary': 25000}}

In [16]:
temp={
    'lucknow':[25,30,45],
    'delhi':[25,40,45],
    'chennai':[35,30,25]
}
print(temp)

{'lucknow': [25, 30, 45], 'delhi': [25, 40, 45], 'chennai': [35, 30, 25]}

In [17]:
print(temp['lucknow'][2])
print(temp['delhi'][1])

45
40

In [18]:
print('Average temp in delhi:', sum(temp['delhi'])/len(temp['delhi']) )

Average temp in delhi: 36.666666666666664

In [19]:
report={
    'Alex': {
        'english':70,
        'hindi':80,
        'science':78
    },
    'Riya': {
        'english':90,
        'hindi':88,
        'science':98
    }
}
pp(report)

{'Alex': {'english': 70, 'hindi': 80, 'science': 78},
 'Riya': {'english': 90, 'hindi': 88, 'science': 98}}

In [27]:
for student,marks in report.items():
    print(student)
    for subject,mark in marks.items():
        print('->',subject,mark)
    print('-> Total Marks:',sum(marks.values()))

Alex
-> english 70
-> hindi 80
-> science 78
-> Total Marks: 228
Riya
-> english 90
-> hindi 88
-> science 98
-> Total Marks: 276