In [3]:
fruits = ['apple','mango','orange','grapes','banana']
for x in fruits:
    print(x)

apple
mango
orange
grapes
banana

In [7]:
a="Hello World"
for x in a:
    print(x,end=" ")

H e l l o   W o r l d

In [10]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [15]:

for i in range(5):
    print("saniya")

saniya
saniya
saniya
saniya
saniya

In [16]:
for i in range(1,21,3):
    print(i)

1
4
7
10
13
16
19

In [17]:
for i in range(0,30,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [22]:
for i in range(0,31):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [24]:
#while loop
i=0
while i<=20:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [2]:
i=1
while i<=5:
    print("I can do it")
    i+=1

I can do it
I can do it
I can do it
I can do it
I can do it

In [11]:
i=1
while i<=10:
    print(f'{15} * {i}  = ',15*i)
    i+=1

15 * 1  =  15
15 * 2  =  30
15 * 3  =  45
15 * 4  =  60
15 * 5  =  75
15 * 6  =  90
15 * 7  =  105
15 * 8  =  120
15 * 9  =  135
15 * 10  =  150

In [1]:
a=[2,4,6,8,10,12,14,16,17,18,20]
for i in a:
    if i ==17:
        continue
    print(i)

2
4
6
8
10
12
14
16
18
20

In [2]:
a=[2,4,6,8,10,12,14,16,17,18,20]
for i in a:
    if i ==17:
        break
    print(i)

2
4
6
8
10
12
14
16

In [6]:
a="saniya"
for i in a:
    if i=="i":
        break
    print(i,end="")

san

In [8]:
a=[10,30,65,29]
total=0
for i in a:
    total+=i
print(total)

134

In [11]:
name=['Rita','Sita','Gita','Ram','Rama']
for i in name:
    print(i)

Rita
Sita
Gita
Ram
Rama

In [15]:
for v,i in enumerate(name):
    print(f'{v}. {i}')

0. Rita
1. Sita
2. Gita
3. Ram
4. Rama

In [19]:
name=['Rita','Sita','Gita','Ram','Rama','Saima','Riya','Jiya','Rahul']
for i,v in enumerate(name):
    if i==8:
        break
    print(f'{i}. {v}')

0. Rita
1. Sita
2. Gita
3. Ram
4. Rama
5. Saima
6. Riya
7. Jiya